div #output {
    white-space: pre-wrap;
    height: 3.5em;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

div #buttons {
    background-color: black;
    margin: 0 auto;
}

div #buttons {
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

div #game-screen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid black;
    border-bottom: none;
}

#scoreboard {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin: 0 auto;
}


#player-img {
    width: 200px;
    height: 200px;
}

#cpu-img {
    width: 200px;
    height: 200px;
    transform: scaleX(-1);
}